# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Local application/document exports
*.pdf
*.docx
Screenshot*.png

# Virtual environments
*.egg-info/
dist/
build/

.env
