**/.DS_Store
**/.env
**/.env.*
!**/.env.example
**/.git
**/.idea
**/.pytest_cache
**/__pycache__
**/.venv
**/venv
**/data
**/data_lake
**/logs
**/synthetic_data/generated
**/generate_synthetic_data/output
**/bronze_Ingestion/storage
**/bronze_Ingestion/failed_ingestions/*.jsonl
**/*.pdf
